#!/bin/bash

SCRIPTPATH="$(cd -- "$(dirname "$1")" >/dev/null 2>&1; pwd -P)"
export PICO_SDK_PATH="$SCRIPTPATH/lib/pico-sdk"

export GNU_ARM_PATH="/opt/homebrew/opt/arm-none-eabi-gcc/bin"

export JL_PATH="/Applications/SEGGER/JLink"
export JL_DEVICE="RP2040_M0_0"
export JL_IF="SWD"
export JL_SPEED="50000"
